.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  text-align: center;
  display: block;
  color: #ffffff;

  &--accent {
    background-color: #68b738;
  }

  &--secondary {
    background-color: #f2f2f2;
  }
}
