.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__container {
  width: 280px;
  margin: 0 auto;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  list-style: none;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
}

.advantages__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .advantages__container {
    width: 708px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    grid-column: 1/-1;
  }

  .advantages__item {
    font-size: 16px;
    line-height: 24px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 135px;
  }

  .advantages__item--healthy {
    grid-column: 1/2;
    margin-bottom: 37px;
  }

  .advantages__item--food {
    grid-column: 1/2;
    margin-bottom: 47px;
  }

  .advantages__item--simply {
    grid-column: 2/3;
    margin-bottom: 37px;
  }

  .advantages__item--time {
    grid-column: 2/3;
    margin-bottom: 47px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__container {
    width: 1220px;
  }

  .advantages__list {
    display: flex;
  }
}
