.application-user__container {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .application-user__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
