.copyright {
  padding: 22px 0;
}

.copyright__link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  list-style: none;
  text-decoration: none;
}

.copyright__link-logo {
  margin-left: 130px;

  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}
