.example {
  background-color: #eaeaea;
  font-family: "Oswald", sans-serif;
}

.example__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__intro {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  max-width: 366px;
}

.example__item {
  margin: 0;
}

.example__value {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
}

.example__total {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.example__slider {
  margin: 0 auto;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example__container {
    width: 708px;
  }

  .example__case {
    display: grid;
    grid-template-columns: 366px 174px;
    column-gap: 150px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__intro {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1/-1;
  }

  .example__list {
    justify-content: space-between;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__text {
    font-size: 14px;
    line-height: 14px;
  }

  .example__total {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__slider {
    margin: 0 auto;

    .example__slider-image {
      width: 560px;
      height: 512px;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    width: 1220px;
    display: grid;
    grid-template-columns: 500px 600px;
  }

  .example__case {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    min-width: 500px;
  }

  .example__total {
    text-align: left;
  }


  .example__slider {
    margin: 0 auto;

    .example__slider-image {
      width: 560px;
      height: 512px;
      margin: 0 auto;
    }
  }
}
