.location {
  background-color: #ffffff;

  &--theme {
    background-color: #f2f2f2;
  }
}

.location__container {
  width: 280px;
  margin: 0 auto;
  display: flex;
  padding: 26px 20px;
}

.location__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.location__address {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .location__container {
    width: 628px;
    justify-content: space-between;
    padding: 56px 70px;
  }

  .location__title {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }

  .location__address {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .location__container {
    width: 405px;
    justify-content: space-between;
    padding: 56px 80px;
  }

  .location__title {
    width: 163px;
  }

  .location__address {
    width: 155px;
  }
}
