.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__link {
  color: #000000;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  padding: 22px 0 24px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
  }

  .site-list__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .site-list__item:not(:last-child) {
    margin-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    font-size: 20px;
    line-height: 30px;

    &--secondary {
      color: #ffffff;
    }
  }
}
